
<!DOCTYPE html>
<html>
<head>
<title>Smart City Portal</title>
<link rel="stylesheet" href="/static/style.css">
</head>
<body>
<div class="card">
<h1>🏙 Smart City Issue Portal</h1>
<form method="post">
<input name="city" placeholder="City" required>
<input name="area" placeholder="Area" required>
<input name="street" placeholder="Street" required>

<select name="issue">
<option>Pothole</option>
<option>Broken Streetlight</option>
<option>Garbage Overflow</option>
<option>Water Leakage</option>
</select>

<input type="email" name="email" placeholder="Email" required>
<button>Submit Issue</button>
</form>
</div>
</body>
</html>
